schema-version: 2.0.2

package:
  name: traefik-3.0

advisories:
  - id: CGA-2829-frw9-w37j
    aliases:
      - CVE-2025-22868
    events:
      - timestamp: 2025-03-06T04:14:31Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 514b6df5684f76d6
            componentName: golang.org/x/oauth2
            componentVersion: v0.21.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-2xwg-h5m9-hvjx
    aliases:
      - CVE-2024-52003
      - GHSA-h924-8g65-j9wg
    events:
      - timestamp: 2025-03-06T04:14:28Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 1c7fb184dbe87d4f
            componentName: traefik-3.0
            componentVersion: 3.0.4-r2
            componentType: apk
            componentLocation: /.PKGINFO
            scanner: grype

  - id: CGA-3w2x-4f9r-86p6
    aliases:
      - CVE-2024-36620
      - GHSA-q59j-vv4j-v33c
    events:
      - timestamp: 2025-03-06T04:14:17Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 000737d678973902
            componentName: github.com/docker/docker
            componentVersion: v25.0.5+incompatible
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-49j8-v2hw-4gvh
    aliases:
      - CVE-2024-24791
      - GHSA-hw49-2p59-3mhj
    events:
      - timestamp: 2024-07-04T13:34:56Z
        type: fixed
        data:
          fixed-version: 3.0.4-r1

  - id: CGA-5hr9-cvmp-hpmp
    aliases:
      - CVE-2024-45410
      - GHSA-62c8-mh53-4cqv
    events:
      - timestamp: 2025-03-06T04:14:25Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 1c7fb184dbe87d4f
            componentName: traefik-3.0
            componentVersion: 3.0.4-r2
            componentType: apk
            componentLocation: /.PKGINFO
            scanner: grype

  - id: CGA-6q5w-m2x5-fp26
    aliases:
      - CVE-2024-41110
      - GHSA-v23v-6jw2-98fq
    events:
      - timestamp: 2025-03-06T04:14:20Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 000737d678973902
            componentName: github.com/docker/docker
            componentVersion: v25.0.5+incompatible
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-9h4j-w8hf-2xh9
    aliases:
      - CVE-2024-36623
      - GHSA-gh5c-3h97-2f3q
    events:
      - timestamp: 2025-03-06T04:14:18Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 000737d678973902
            componentName: github.com/docker/docker
            componentVersion: v25.0.5+incompatible
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-cjxv-h77h-fr83
    aliases:
      - CVE-2024-45336
      - GHSA-7wrw-r4p8-38rx
    events:
      - timestamp: 2025-03-06T04:15:05Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 3704a7618aee5579
            componentName: stdlib
            componentVersion: go1.22.5
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-f5vh-mqqq-jv42
    aliases:
      - GHSA-xr7q-jx4m-x55m
    events:
      - timestamp: 2024-07-10T07:08:54Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: a7c6b5c908f3be7d
            componentName: google.golang.org/grpc
            componentVersion: v1.64.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype
      - timestamp: 2024-07-10T09:24:00Z
        type: fixed
        data:
          fixed-version: 3.0.4-r2

  - id: CGA-h6xq-wj4v-g3r7
    aliases:
      - CVE-2024-34158
      - GHSA-j7vj-rw65-4v26
    events:
      - timestamp: 2025-03-06T04:15:00Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 3704a7618aee5579
            componentName: stdlib
            componentVersion: go1.22.5
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-jg94-wxjj-hp23
    aliases:
      - CVE-2024-51744
      - GHSA-29wx-vh33-7x7r
    events:
      - timestamp: 2025-03-06T04:14:37Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: ad6d6b833225f5a4
            componentName: github.com/golang-jwt/jwt/v4
            componentVersion: v4.5.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-mf99-jr54-c767
    aliases:
      - CVE-2025-27144
      - GHSA-c6gw-w398-hv78
    events:
      - timestamp: 2025-03-06T04:14:40Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 149015a0a333ba4f
            componentName: github.com/go-jose/go-jose/v4
            componentVersion: v4.0.2
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-p8q2-wjgv-972x
    aliases:
      - GHSA-hxr6-2p24-hf98
    events:
      - timestamp: 2025-03-06T04:14:44Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: d3ec9625c9b2f45b
            componentName: github.com/traefik/traefik/v3
            componentVersion: v3.0.4
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-p979-hx8c-5rmf
    aliases:
      - CVE-2024-28180
      - GHSA-c5q2-7r4c-mv6g
    events:
      - timestamp: 2024-06-24T16:00:40Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 51448bcd714b0573
            componentName: gopkg.in/square/go-jose.v2
            componentVersion: v2.5.1
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype
      - timestamp: 2024-06-26T16:50:14Z
        type: pending-upstream-fix
        data:
          note: There is no fix for dependency gopkg.in/square/go-jose.v2 and to fix that need code changes to replace the affected dependency.

  - id: CGA-v2qq-9h4p-472q
    aliases:
      - CVE-2025-22869
    events:
      - timestamp: 2025-03-06T04:14:34Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: e44e289f0580ded6
            componentName: golang.org/x/crypto
            componentVersion: v0.24.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-v623-rq69-j55h
    aliases:
      - CVE-2024-34156
      - GHSA-crqm-pwhx-j97f
    events:
      - timestamp: 2025-03-06T04:14:56Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 3704a7618aee5579
            componentName: stdlib
            componentVersion: go1.22.5
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-wf2x-vwmh-28w8
    aliases:
      - CVE-2024-53259
      - GHSA-px8v-pp82-rcvr
    events:
      - timestamp: 2025-03-06T04:14:48Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: f4a20113d113bfcd
            componentName: github.com/quic-go/quic-go
            componentVersion: v0.45.1
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-x93h-h62h-g5g3
    aliases:
      - CVE-2024-45337
      - GHSA-v778-237x-gjrc
    events:
      - timestamp: 2025-03-06T04:14:21Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: e44e289f0580ded6
            componentName: golang.org/x/crypto
            componentVersion: v0.24.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-xfc9-vfqj-57p4
    aliases:
      - CVE-2024-45338
      - GHSA-w32m-9786-jp63
    events:
      - timestamp: 2025-03-06T04:14:23Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 4b2a8c8ca4c84962
            componentName: golang.org/x/net
            componentVersion: v0.26.0
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype

  - id: CGA-xr53-wxhg-qvmf
    aliases:
      - CVE-2024-34155
      - GHSA-8xfx-rj4p-23jm
    events:
      - timestamp: 2025-03-06T04:14:52Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 3704a7618aee5579
            componentName: stdlib
            componentVersion: go1.22.5
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype
