schema-version: 2.0.2

package:
  name: traefik-3.0

advisories:
  - id: CGA-49j8-v2hw-4gvh
    aliases:
      - CVE-2024-24791
      - GHSA-hw49-2p59-3mhj
    events:
      - timestamp: 2024-07-04T13:34:56Z
        type: fixed
        data:
          fixed-version: 3.0.4-r1

  - id: CGA-p979-hx8c-5rmf
    aliases:
      - CVE-2024-28180
      - GHSA-c5q2-7r4c-mv6g
    events:
      - timestamp: 2024-06-24T16:00:40Z
        type: detection
        data:
          type: scan/v1
          data:
            subpackageName: traefik-3.0
            componentID: 51448bcd714b0573
            componentName: gopkg.in/square/go-jose.v2
            componentVersion: v2.5.1
            componentType: go-module
            componentLocation: /usr/bin/traefik
            scanner: grype
      - timestamp: 2024-06-26T16:50:14Z
        type: pending-upstream-fix
        data:
          note: There is no fix for dependency gopkg.in/square/go-jose.v2 and to fix that need code changes to replace the affected dependency.
