name: automated-pr-review
on:
  workflow_dispatch:
  schedule:
    - cron: '10,30,50 * * * *'

permissions:
  contents: read

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/advisories'

    permissions:
      contents: read
      id-token: write # needed for Octo STS federation

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: octo-sts/action@a26b0c6455c7f13316f29a8766287f939e75f6c8 # v1.0.2
        id: octo-sts
        with:
          scope: wolfi-dev/advisories
          identity: enable-auto-merge

      - run: |
          ./scripts/enable-auto-merge.sh ${{ github.repository }}
        env:
          GH_TOKEN: ${{ steps.octo-sts.outputs.token }}

  review-pr:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/advisories'

    needs: enable-auto-merge

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - run: |
          ./scripts/review-prs.sh ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
