name: automated-pr-review
on:
  workflow_dispatch:
  schedule:
    - cron: '10,30,50 * * * *'

permissions:
  contents: read

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/advisories'

    permissions:
      contents: read
      id-token: write # needed for Octo STS federation

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05 # v1.1.1
        id: octo-sts
        with:
          scope: wolfi-dev/advisories
          identity: enable-auto-merge

      - run: |
          ./scripts/enable-auto-merge.sh ${{ github.repository }}
        env:
          GH_TOKEN: ${{ steps.octo-sts.outputs.token }}

  review-pr:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/advisories'

    needs: enable-auto-merge

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: |
          ./scripts/review-prs.sh ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
