name: Lint

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - gh-readonly-queue/main/**

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    # this need to point to main to always get the latest action
    - uses: wolfi-dev/actions/wolfictl-lint@main # main
      with:
        run_wolfictl_lint_yam: 'true'
        run_wolfictl_lint: 'false'

  misspell:
    name: Misspell
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: step-security/action-misspell@0f3cc345708d2eac0af2296de392c2c7e7a01aba # v1.26.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_error: true
          locale: "US"
