# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0
name: Validate

on:
  pull_request:
    branches:
      - main
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  lint:
    name: Validate
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Clone advisorites repository'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        path: './wolfi-advisories'

    - name: 'Clone Wolfi packages repository'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        repository: 'wolfi-dev/os'
        fetch-depth: 0
        path: './wolfi-packages'
        ref: 'main'

    - name: 'Get wolfi-advisories HEAD for comparison'
      id: merge-base
      working-directory: ./wolfi-advisories
      run: |
        # NOTE(shimmerjs): This currently works because of actions/checkout
        # fetching everything by default. It would be better to do this with a
        # refspec.
        # NOTE(shimmerjs): We don't use fancy github.foo variables here because
        # they are different in inconsistent ways for the multiple types of
        # events that we want to trigger this WF: 
        # https://github.com/orgs/community/discussions/40277 
        commit=$(git merge-base refs/remotes/origin/main HEAD)
        echo "Will validate PR against ${commit}"
        echo "merge-base=$commit" >> $GITHUB_OUTPUT

      # this need to point to main to always get the latest action
    - uses: wolfi-dev/actions/advisories-validate@main # main
      with:
        fork_point: ${{ steps.merge-base.outputs.merge-base }}
        advisories-directory: './wolfi-advisories'
        packages-directory: './wolfi-packages'
        repository: ${{ github.repository }}
        package-repo-url: 'https://packages.wolfi.dev/os'
        token: ${{ secrets.GITHUB_TOKEN }}
