name: Validate

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - gh-readonly-queue/main/**

permissions:
  contents: read

jobs:
  lint:
    name: Validate
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 0
        path: './wolfi-advisories'

    - name: 'Clone Wolfi packages repository'
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        repository: 'wolfi-dev/os'
        fetch-depth: 0
        path: './wolfi-packages'
        ref: 'main'

    - name: get fork point
      id: fork-point
      working-directory: ./wolfi-advisories
      run: |
        fork_point=$(git merge-base --fork-point refs/remotes/origin/${{ github.base_ref }} HEAD || git rev-parse HEAD)
        echo "fork point will be $fork_point"
        echo "fork_point=$fork_point" >> $GITHUB_OUTPUT

    - uses: wolfi-dev/actions/advisories-validate@37af598e0f474e41d69746d964354cad65b5cd30 # main
      with:
        fork_point: ${{ steps.fork-point.outputs.fork_point }}
        advisories-directory: './wolfi-advisories'
        packages-directory: './wolfi-packages'
        repository: ${{ github.repository }}
        package-repo-url: 'https://packages.wolfi.dev/os'
        token: ${{ secrets.GITHUB_TOKEN }}
